{% extends 'index.html' %}

{% block content %}
<div id="dashboardSection">
    <div id="graphContainer">
        <canvas id="dashboardChart"></canvas>
    </div>
    <div id="dashboardinfo" class="flex flex-row">
        <div class="infoSection">
            <h4>Current Positions &gt;</h4>
            <div class="infoContent">
                <table id="portfolioTable">
                    <tr>
                        <th>Symbol</th>
                        <th>Quantity</th>
                    </tr>
                    {% for trade in grouptrades %}
                    <tr>
                        <td>{{ trade._id }}</td>
                        <td>{{ trade.netQuantity }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="infoSection">
            <h4>Orders &gt;</h4>
            <div class="infoContent">
                <p>Please connect via api to get open order data (Coming Soon)</p>
            </div>
        </div>
    </div>
</div>
<script>
    const ctx = document.getElementById('dashboardChart');
    console.log("p/l", JSON.parse('{{ pandls|tojson|safe }}'));


    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: JSON.parse('{{ labels|tojson|safe }}'),
            datasets: [{
                label: 'Profit/Loss',
                data: JSON.parse('{{ pandls|tojson|safe }}'),
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock content %}