{% extends 'index.html' %}

{% block content %}
<div id="dashboardSection">
    <div id="graphContainer">
        <p>Graph image placeholder</p>
        <!-- Placeholder for graph image. Replace with actual image or graph drawing logic -->
    </div>
    <div id="dashboardinfo" class="flex flex-row">
        <div class="infoSection">
            <h4>Current Positions &gt;</h4>
            <div class="infoContent">
                <!-- Placeholder for portfolio details. Replace with actual content -->
                <table id="portfolioTable">
                    <tr>
                        <th>Symbol</th>
                        <th>Quantity</th>
                    </tr>
                    {% for trade in grouptrades %}
                    <tr>
                        <td>{{ trade._id }}</td>
                        <td>{{ trade.netQuantity }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="infoSection">
            <h4>Orders &gt;</h4>
            <div class="infoContent">
                <p>Please connect via api to get open order data (Coming Soon)</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}