{% extends 'index.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Trades | Crypto Pal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <section id="content">
        <header>
            <div>
                <h2 style="margin: 0;">Delete Trades</h2>
            </div>
        </header>
        <div class="delete-forms">
            <!-- Form for Deleting Individual Trade -->
            <form id="deleteTradeForm">
                <label for="tradeId">Trade ID:</label>
                <input type="text" id="tradeId" name="tradeId" required>
                <input type="button" value="Delete Trade" id="deleteTradeBtn">
            </form>
            <!-- Form for Deleting All Trades -->
            <form id="deleteAllTradesForm">
                <input type="button" value="Delete All Trades" id="deleteAllBtn">
            </form>
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Handle individual trade deletion
            document.getElementById('deleteTradeBtn').addEventListener('click', function() {
                var tradeId = document.getElementById('tradeId').value;
                if (tradeId) {
                    fetch('/deleteTrade', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ tradeId: tradeId }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message); // Customize based on your server response
                    })
                    .catch(error => console.error('Error:', error));
                } else {
                    alert('Please enter a trade ID.');
                }
            });

            // Handle deletion of all trades
            document.getElementById('deleteAllBtn').addEventListener('click', function() {
                if (confirm('Are you sure you want to delete all trades? This action cannot be undone.')) {
                    fetch('/deleteAllTrades', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message); // "All trades have been deleted" or "No trades to delete"
                    })
                    .catch(error => console.error('Error:', error));
                }
            });
        });
    </script>
</body>
</html>

{% endblock content %}
