{% extends 'index.html' %}
{% block content %}
<style>
    .centered-text {
        position: relative;
        top: 20%;
        text-align: center;
        width: 100%;
    }
</style>

<div class="centered-text">
    <h1>Edit individual values of your database here</h1>
    <form action="{{ url_for('edit') }}" method="post">
        <input type="number" name="visible_id" placeholder="Visible ID" required>
        <input type="text" name="field" placeholder="Field to Edit" required>
        <input type="text" name="new_value" placeholder="New Value" required>
        <input type="submit" value="Edit Record">
    </form>
</div>
{% endblock content %}
