<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Pal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <aside>
        <h1>crypto pal</h1>
        <nav>
            {% set active_page = request.path %}
            <ul id="navList">
                <li data-target="upload" class="{{ 'active' if active_page == '/upload' else '' }}"><a href="/upload">Upload</a></li>
                <li data-target="dashboard" class="{{ 'active' if active_page == '/dashboard' else '' }}"><a href="/dashboard">Dashboard</a></li>
                <li data-target="taxes" class="{{ 'active' if active_page == '/taxes' else '' }}"><a href="/taxes">Taxes</a></li>
                <li data-target="insights" class="{{ 'active' if active_page == '/insights' else '' }}"><a href="/insights">Insights</a></li>
            </ul>
        </nav>
    </aside>
    
    <section id="content">
        <header>
            <div>
                <h2 style="margin: 0;">{{section}}</h2>
            </div>
            <div class="container">
                <a href="/upload">
                    <button id="uploadDataButton">Upload Data</button>
                </a>
                <div id="profilePicture"></div>
                <div class="menu-button">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
            </div>
                

        </header>
        {% block content %}
        {% endblock content %}
    </section>
    
</body>
</html>

