<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Pal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!--<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>-->
</head>
<body>
    <aside>
        <h1>crypto pal</h1>
        <nav>
            <ul id="navList">
                <li data-target="upload" class="active"><a href="upload">Upload</a></li>
                <li data-target="dashboard"><a href="dashboard">Dashboard</a></li>
                <li data-target="taxes"><a href="taxes">Taxes</a></li>
                <li data-target="insights"><a href="insights">Insights</a></li>
            </ul>
        </nav>
    </aside>
    
    <section id="content">
        {% block content %}
        {% endblock content %}
    </section>
    
</body>
</html>

