<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Pal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <aside>
        <div>
            <h1>crypto pal</h1>
            <nav>
                {% set active_page = request.path %}
                {% if current_user.is_authenticated %}
                <ul id="navList">
                    <li data-target="upload" class="{{ 'active' if active_page == '/upload' else '' }}"><a href="/upload">Upload</a></li>
                    <li data-target="dashboard" class="{{ 'active' if active_page == '/dashboard' else '' }}"><a href="/dashboard">Dashboard</a></li>
                    <li data-target="taxes" class="{{ 'active' if active_page == '/taxes' else '' }}"><a href="/taxes">Taxes</a></li>
                    <li data-target="insights" class="{{ 'active' if active_page == '/insights' else '' }}"><a href="/insights">Insights</a></li>
                    <li data-target="edit" class="{{ 'active' if active_page == '/edit' else '' }}"><a href="/edit">Edit</a></li>
                    <li data-target="delete" class="{{ 'active' if active_page == '/delete' else '' }}"><a href="/delete">Delete</a></li>
                    <li data-target="search" class="{{ 'active' if active_page == '/search' else '' }}"><a href="/search">Search</a></li>
                    <li data-target="view_db" class="{{ 'view_db' if active_page == '/view_db' else '' }}"><a href="/view_db">View</a></li>


                </ul>
                {% endif %}
            </nav>
        </div>
        <!-- logout button -->
        {% if current_user.is_authenticated %}
        <form method="post" action="/logout">
            <button id="logoutButton" type="submit" class="text-lg">Logout</button>
        </form>
        {% endif %}
    </aside>
    
    <section id="content">
        {% if current_user.is_authenticated %}
        <header class="flex justify-between items-center py-4">
            <h2 class="text-2xl font-bold">{{ section }}</h2>
            <div class="flex items-center gap-4">
                <a href="/upload" class="bg-blue-500 text-white py-1 px-3 rounded hover:bg-blue-700 transition duration-300 text-sm">
                    Upload Data
                </a>
                <div id="profilePicture" class="inline-block h-10 w-10 rounded-full"></div>
                <button id="menuButton" class="flex items-center px-3 py-2 border rounded text-green-200 border-green-400 hover:text-green-500 hover:border-green-500">
                    <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                </button>
            </div>
        </header>
        {% endif %}
        {% block content %}
        {% endblock content %}
    </section>
    
</body>
</html>

