{% extends 'index.html' %}

{% block content %}
<div id="taxesSection">
    <div class="infoSection">
        <h4>P&L per Token</h4>
        <div class="infoContent">
            <table id="taxesTable">
                <tr>
                    <th>Symbol</th>
                    <th>Profit/Loss</th>
                </tr>
                {% for trade in grouptrades %}
                <tr>
                    <td>{{ trade._id }}</td>
                    <td>{% if trade.profit|float < 0 %}-{% endif %}${{ trade.profit|replace(",", "")|float|abs }}</td>
                </tr>
                {% endfor %}
            </table>
            <h2>Total P&L: ${{ total_pl }}</h2>
        </div>
    </div>
    <div class="infoSection">
        <h4>Relative P&L</h4>
        <div class="infoContent">
            <table id="taxesTable">
                <tr>
                    <th>Symbol</th>
                    <th>% Gain/Loss</th>
                </tr>
                {% for trade in grouptrades %}
                <tr>
                    <td>{{ trade._id }}</td>
                    <td>{{ trade.relativeProfit }}%</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="infoSection">
        <h4>Best Performers</h4>
        <div class="infoContent">
            <table id="taxesTable">
                <tr>
                    <th>Symbol</th>
                    <th>% Gain/Loss</th>
                </tr>
                {% for trade in best_performers %}
                <tr>
                    <td>{{ trade._id }}</td>
                    <td>{{ trade.relativeProfit }}%</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <h4>Worst Performers</h4>
        <div class="infoContent">
            <table id="taxesTable">
                <tr>
                    <th>Symbol</th>
                    <th>% Gain/Loss</th>
                </tr>
                {% for trade in worst_performers %}
                <tr>
                    <td>{{ trade._id }}</td>
                    <td>{{ trade.relativeProfit }}%</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}
