{% extends 'index.html' %}

{% block content %}
<header>
    <h2>Taxes</h2>
    <a href="/upload">
        <button id="uploadDataButton">Upload Data</button>
    </a>
    <div id="profilePicture"></div>
</header>
<div id="taxesSection">
    <div id="profitLoss">
        <h3>P/L: $1000</h3>
        <p>+ $30 (3.09%)</p>
    </div>
    <div id="graphContainer">
        <p>graph image</p>
    </div>
    <div id="timeFilters">
        <span>1D</span>
        <span>1W</span>
        <span>1M</span>
        <span>3M</span>
        <span>YTD</span>
        <span>1Y</span>
        <span>ALL</span>
    </div>
    <div class="infoSection">
        <h4>P&L By Token</h4>
        <div class="infoContent">
            <p>Portfolio details</p>
        </div>
    </div>
    <div class="infoSection">
        <h4>Cost basis per token</h4>
        <div class="infoContent">
            <p>Token details</p>
        </div>
    </div>
    <div class="infoSection">
        <h4>Proceeds per token</h4>
        <div class="infoContent">
            <p>Token details</p>
        </div>
    </div>
</div>
{% endblock content %}
